version: "3.7"

services: 
  postgres:
    image: postgres:12.1
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  redis: 
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379

volumes:
  my_postgres_data:

