.dropZone{

    width:100%;
    height:100%;
    border-radius:rem(5);
    padding:var(--mantine-spacing-md);

    background-color:
    light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-5)
    );
    cursor:pointer;
    transition:background-color 300ms ease;


    &:hover{
        background-color:
        light-dark(
        var(--mantine-color-gray-5),
        var(--mantine-color-dark-6)
        );
    }

    
}