.navbar{
    width: rem(80);
    height: 100vh;
    inset:0;
    position: fixed;
    padding: var(--mantine-spacing-md);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: rem(1px) solid light-dark(
        var(--mantine-color-gray-5),
        var(--mantine-color-dark-4)
        );



    background-color:
    light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-8)
    )
}


.link{
    padding:0;
width: rem(50);
height: rem(50);
color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
);
transition: background-color 200ms ease-in-out;

&:hover{
    background-color:
    light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-5)
    );
      
}


}